@import "./font.scss";

$main_color: #d02d2d;
$font_color: #212121;

.single-line-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
}

// css3 动画
@keyframes rorate {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}
