@import "./font.scss";

$main_color: #d02d2d;
$font_color: #212121;

.single-line-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// css3 动画
@keyframes rorate {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
    opacity: 0;
}

.voice-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 19px;
    height: 18px;
    &.focus {
      display: none;
    }
    i {
      height: 24px;
      width: 1px;
      background-color: $font_color;
      transition: all .5s ease;
    }
    i:nth-of-type(1) {
      height: 10px;
    }
    i:nth-of-type(2) {
      height: 18px;
    }
    i:nth-of-type(3) {
      height: 10px;
    }
    i:nth-of-type(4) {
      height: 16px;
    }
  }
  
  .voice-box.active {
    i:nth-of-type(1) {
      animation: i1 .5s infinite;
    }
    i:nth-of-type(2) {
      animation: i1 .5s infinite .3s;
    }
    i:nth-of-type(3) {
      animation: i1 .5s infinite .2s;
    }
    i:nth-of-type(4) {
      animation: i1 .5s infinite .1s;
    }
  }
  
  @keyframes i1 {
    0% {
      height: 24px;
    }
    50% {
      height: 10px;
    }
    100% {
      height: 22px;
    }
  }
