@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff');
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .wif {
    display: inline-block;
    font: normal normal normal 14px/1 icomoon;
    font-size: larger;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-arrow:before {
    content: "\e900";
  }

  .icon-error:before {
    content: "\e901";
  }

  .icon-headset:before {
    content: "\e902";
    color: #fff;
  }

  .icon-left:before {
    content: "\e903";
    color: #000;
  }

  .icon-right:before {
    content: "\e904";
    color: #000;
  }
  
  .icon-male:before {
    content: "\e905";
    color: #37b9ea;
  }
  
  .icon-female:before {
    content: "\e906";
    color: #ff8585;
  }
  
  .icon-people:before {
    content: "\e907";
  }
  
  .icon-wy-music:before {
    content: "\e908";
  }
  
  .icon-music:before {
    content: "\e909";
  }
  
  .icon-friend:before {
    content: "\e90a";
  }
  
  .icon-wy-music-black:before {
    content: "\e90b";
  }
  
  .icon-voice:before {
    content: "\e90c";
  }
  
  .icon-password:before {
    content: "\e90d";
  }
  
  .icon-phone:before {
    content: "\e90e";
  }
  
  .icon-play:before {
    content: "\e90f";
  }
  
  .icon-pause:before {
    content: "\e910";
  }

  .icon-loading:before {
    content: "\e911";
  }

  .icon-search:before {
    content: "\e912";
  }